<% if @error %>
  <h2><%= @error %></h2>
<% else %>
  <h2>User Login</h2>
<%end %>

<% if @user %>
  <h3><%= @user %></h3>
<% end %>
<form action="/user" method="POST">
  <label for="email">Email</label>
  <input type="text" id="email" name="user[email]"><br><br>
  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]">
  <input type="submit">
</form><br>


<a href="/user/new">New User Signup</a>
