
  <h2>New User Sign Up</h2>
  <form action="/user/new" method="POST">
    <label for="fullname">Full Name</label>
    <input type="text" id="fullname" name="user[name]" placeholder="John Smith">
    <label for="email">Email</label>
    <input type="text" id="email" name="user[email]" placeholder="john@smith.com">
    <label for="password">Password</label>
    <input type="password" id="password" name="user[password]" placeholder="Set password">
    <input type="submit">
  </form>

